<html>
<head>
    <!--Import Google Icon Font-->
    {{/*<link type="text/css" href="/statics/css/material_icon.css" rel="stylesheet">*/}}
    <link type="text/css" href="https://cdn.jsdelivr.net/gh/etigerstudio/mafiastrike@latest/statics/css/material_icon.css" rel="stylesheet">
    <!--Import materialize.css-->
    {{/*<link type="text/css" rel="stylesheet" href="/statics/css/materialize.min.css" media="screen,projection"/>*/}}
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/gh/etigerstudio/mafiastrike@latest/statics/css/materialize.min.css" media="screen,projection"/>
    <style type="text/css">
        i.left {
            margin-right: 4px;
        }
    </style>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
<nav>
    <div class="nav-wrapper blue-grey lighten-4">
        <a href="#" class="brand-logo center blue-grey-text text-darken-2">狼の救济</a>
    </div>
</nav>
<div class="row" style="margin-top: 24px;">
    <div class="col s12 m6" style="padding-left: 18px; padding-right: 18px;">
        <div class="card-panel blue lighten-5 center">
            <div class="blue-text text-darken-2">创建新的房间</div>
            <a onclick="M.Modal.getInstance(document.getElementById('create-lobby')).open()" class="waves-effect waves-light blue btn" style="margin-top: 12px;"><i class="material-icons left">add</i>创建房间</a>
        </div>
    </div>
    <div class="col s12 m6" style="padding-left: 18px; padding-right: 18px;">
        <div class="card-panel green lighten-5 center">
            <div class="green-text text-darken-2">加入已创建的房间</div>
            <a onclick="M.Modal.getInstance(document.getElementById('join-lobby')).open()" class="waves-effect waves-light green btn center" style="margin-top: 12px;"><i class="material-icons left">group_add</i>加入房间</a>
        </div>
    </div>
</div>

<div style="padding-left: 32px;" class="grey-text lighten-2">
    © 2019 E-Tiger Studio
</div>

<div id="join-lobby" class="modal">
    <div class="modal-content">
        <h5 class="blue-grey-text text-darken-1">加入房间</h5>
        <div class="input-field">
            <input id="lobby_id" type="text">
            <label for="lobby_id">房间号</label>
        </div>
        <div class="input-field">
            <input id="nickname_join" type="text">
            <label for="nickname_join">昵称</label>
        </div>
    </div>
    <div class="modal-footer">
        <a onclick="enterLobby()" class="modal-close waves-effect btn-flat">加入</a>
    </div>
</div>

<div id="create-lobby" class="modal">
    <div class="modal-content">
        <h5 class="blue-grey-text text-darken-1">创建房间</h5>
        <div class="input-field">
            <input id="nickname_create" type="text">
            <label for="nickname_create">昵称</label>
        </div>
    </div>
    <div class="modal-footer">
        <a onclick="createLobby()" class="modal-close waves-effect btn-flat">创建</a>
    </div>
</div>

<!--JavaScript at end of body for optimized loading-->
{{/*<script type="text/javascript" src="/statics/js/materialize.min.js"></script>*/}}
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/etigerstudio/mafiastrike@latest/statics/js/materialize.min.js"></script>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        let elems = document.querySelectorAll('.modal');
        M.Modal.init(elems);
    });

    function createLobby() {
        let nickname = document.getElementById('nickname_create').value;
        if (nickname.trim() === '') {
            M.toast({html: '<b>昵称不能为空</b>'});
            return;
        }

        let http = new XMLHttpRequest();
        let params = `action=add_player&nickname=${nickname}`;
        http.open('POST', `lobbies/`, true);

        http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

        http.onreadystatechange = function() {
            if(http.readyState === 4 && http.status === 200) {
                let res = JSON.parse(http.responseText);
                window.location.href=`lobbies/${res.lobby_id}?player_id=${res.player_id}`
            }
        };

        http.send(params);
    }

    function enterLobby() {
        let lobbyID = document.getElementById('lobby_id').value;
        if (lobbyID.trim() === '') {
            M.toast({html: '<b>房间号不能为空</b>'});
            return;
        }

        let nickname = document.getElementById('nickname_join').value;
        if (nickname.trim() === '') {
            M.toast({html: '<b>昵称不能为空</b>'});
            return;
        }

        let http = new XMLHttpRequest();
        let params = `action=add_player&nickname=${nickname}`;
        http.open('PATCH', `lobbies/${lobbyID}`, true);

        http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

        http.onreadystatechange = function() {
            if(http.readyState === 4 && http.status === 200) {
                let res = JSON.parse(http.responseText);
                window.location.href=`lobbies/${lobbyID}?player_id=${res.player_id}`
            }
        };
        http.send(params);
    }
</script>
</body>
</html>